<h1>Líneas</h1>

<form method="get">
  <label for="tags">Filtrar por etiquetas (códigos separados por comas):</label>
  <input type="text" name="tags" id="tags" placeholder="Ej: TAG1,TAG2">
  <button type="submit">Filtrar</button>
</form>

{% for line in lines %}
  <div class="line">
    <h2>{{ line.description }}</h2>
    <p>Cantidad: {{ line.amount }}</p>
    <p>Fecha: {{ line.date }}</p>
    <p>Tags: 
      {% for tag in line.tag.all %}
          <ul>
            {{ tag.name }}
          </ul>
      {% endfor %}
    </p>
  </div>
  <hr />
{% endfor %}
